[submodule "MuslimAlFatih"]
	path = MuslimAlFatih
	url = https://github.com/muslimalfatih/gdk-2018.git
[submodule "AhmadFakhruroziSyah"]
	path = AhmadFakhruroziSyah
	url = https://github.com/haifahrul/google-mws.git
[submodule "RAdySuryaA"]
	path = RAdySuryaA
	url = https://github.com/ri7nz/mws18.git
[submodule "DeriKurniawan"]
	path = DeriKurniawan
	url = https://github.com/DeriKurniawan/DeriKurniawanMWS.git
