
language: node_js

node_js: '8'

branches:

  only:

  - master

script: 

  - npm run dist

  - npm run publish-demo

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
