.content {
    display: flex;
    flex-wrap: wrap;
}

.header__menu {
    display: none;
}

.hero,
.top-news,
.scores,
.weather,
.recent-news {
    order: 10;
}

@media screen and (max-width: 549px) {
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
    }

    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }

    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }

    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
        text-align: left;
    }

    .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }

    .header__menu svg {
        width: 36px;
        fill: #E0E0E0;
    }

    .scores, .weather {
        width: 100%;
    }

    footer ul {
        text-align: center;
    }
}

@media screen and (min-width: 550px) {
    .hero {
        order: 0;
        width: 60%;
    }
    .weather {
        order: 1;
        width: 40%;
    }
}

@media screen and (min-width: 700px) {
    .hero {
        width: 60%;
    }

    .top-news {
        order: 1;
        width: 40%;
    }

    .scores {
        order: 2;
        width: 60%;
    }

    .weather {
        order: 3;
    }
}

@media screen and (min-width: 800px) {
    main {
        width: 80%;
    }
}
