// Color
$primary-color-dark: #303f9f;
$primary-color: #3f51b5;
$primary-color-light: #c5cae9;
$color-white: #ffffff;
$accent-color: #536dfe;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$grey-color: #eceff1;

// Font
$main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$main-font2: Roboto, Helvetica, Arial, sans-serif;

// Min Width Mobile
$min-width-mobile: 880px;
$width-mobile: 45%;
