body {
  background: #eceff1;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 15vh 13vh;
  grid-gap: 4px;
  width: 100%;
  height: 100%;
}

.title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  margin: 20px;
}

.wrap {
  display: block;
  grid-column: 1/5;
  grid-row: 2/5;
  margin-left: 15px;
  margin-right: 15px;
}

.box {
  color: #212121;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10% 10px;
}

.box a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.box a i {
  color: initial;
  padding: 0 15px;
}

.box a .title {
  color: inherit;
  font-weight: bold;
  margin: 0;
}

.box a:hover .title,
.box a:hover i {
  color: #3f51b5;
}

.boxed {
  color: #212121;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}

.text-center {
  align-items: center;
  display: flex;
}

.align-center {
  justify-content: center;
  display: flex;
}

.fz-h3 {
  font-size: 1.17em;
}

.fz-18 {
  font-size: 18px;
}

.fz-17 {
  font-size: 17px;
}

.fz-14 {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.sidebar {
  display: flex;
  background: #ffffff;
  grid-row: 2/5;
  grid-column: 1/2;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}

.sidebar .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.sidebar .avatar img {
  width: 100%;
}

/* Header */
.header {
  display: flex;
  background: #303f9f;
  grid-column: 1/5;
  padding: 10px;
  z-index: 1000;
}

.header .header-icon {
  font-size: 35px;
  padding: 0 15px 0 5px;
  font-weight: bold;
}

.header .btn-goback {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0 15px 0 0px;
}

.header .btn-goback i {
  font-size: 30px;
}

/* End Header */
.content {
  background: #ffffff;
  grid-column: 2/5;
}

/* Footer */
.footer {
  display: grid;
  background: #212121;
  grid-column: 1/5;
  grid-row: 5/5;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 10px 10px 0 10px;
}

.footer .author {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}

/* End Footer */
@media screen and (min-width: 880px) {
  .main {
    width: 45%;
    margin: auto;
  }
  .footer {
    width: 45%;
  }
}
